<div
  class="s1701"
>
  <div
    class="cm-expansion-panel"
  >
    <mat-accordion>
      <mat-expansion-panel
        class="header-search"
        (opened)="panelOpenResult = true"
        [expanded]="panelOpenResult"
        (closed)="panelOpenResult = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> 【検索結果一覧】 </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="cm-expansion-panel-content"
        >
          <div
            class="table-reponsive"
          >
            <table
              tableResize
              mat-table
              [dataSource]="dataSource"
              matSort
              aria-describedby="tableResult"
              id="s1701-tb"
              class="cm-table-result mat-table"
            >
              <ng-container
                matColumnDef="selection"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  class="selection"
                >
                  <span>選択</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  class="selection"
                >
                  <mat-radio-button
                    class="radio-button-normal"
                    color="primary"
                    [disabled]="isEdit || isAddNewMode"
                    (change)="handleCheckedChange($event, element)"
                  >
                  </mat-radio-button>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                >
                  <span
                    *ngIf="!isAddNewMode && !isEdit"
                    (click)="handleAddRow()"
                    class="cm-cursor-pointer"
                  >{{ button.add_row }}</span>
                </td>
              </ng-container>
              <ng-container
                matColumnDef="supplierCD"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['supplierCD'].hidden"
                >
                  <span>取引先コード</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['supplierCD'].hidden"
                >
                  <div
                    *ngIf="!element.edited"
                    [ngSwitch]="element.supplierCD"
                  >
                    <span
                      *ngSwitchCase="0"
                    >haha</span>
                    <span
                      *ngSwitchCase="1"
                    >hihi</span>
                  </div>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <mat-form-field
                      appearance="outline"
                      [ngClass]="{'mat-form-field-invalid': tableErrorModel.supplierCD.isError}"
                    >
                      <mat-select
                        [(ngModel)]="editModel.supplierCD"
                      >
                        <mat-option [value]="0">haha</mat-option>
                        <mat-option [value]="1">hihi</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.supplierCD.isError"
                  >
                    {{tableErrorModel.supplierCD.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['supplierCD'].hidden"
                >
                <div
                  class="cm-form-control"
                  *ngIf="isAddNewMode"
                >
                  <mat-form-field
                    appearance="outline"
                    [ngClass]="{'mat-form-field-invalid': tableErrorModel.supplierCD.isError}"
                  >
                    <mat-select
                      [(ngModel)]="editModel.supplierCD"
                    >
                      <mat-option [value]="0">haha</mat-option>
                      <mat-option [value]="1">hihi</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div
                  class="cm-message-error"
                  *ngIf="isAddNewMode && tableErrorModel.supplierCD.isError"
                >
                  {{tableErrorModel.supplierCD.msg}}
                </div>
                </td>
              </ng-container>
              <ng-container
                matColumnDef="factory"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['factory'].hidden"
                >
                  <span>納製</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['factory'].hidden"
                >
                  <span>{{element.factory}}</span>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['factory'].hidden"
                >
                </td>
              </ng-container>
              <ng-container
                matColumnDef="partsNO"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['partsNO'].hidden"
                >
                  <span>部品番号</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['partsNO'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.partsNO}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="partsNO"
                      id="partsNO"
                      name="partsNO"
                      [(ngModel)]="editModel.partsNO"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.partsNO = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.partsNO.isError"
                  >
                    {{tableErrorModel.partsNO.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['partsNO'].hidden"
                >
                <div
                  class="cm-form-control"
                  *ngIf="isAddNewMode"
                >
                  <input
                    matInput
                    aria-label="partsNO"
                    id="partsNO"
                    name="partsNO"
                    [(ngModel)]="editModel.partsNO"
                  />
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="cm-icon cm-icon-clear"
                    (click)="editModel.partsNO = ''"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <div
                  class="cm-message-error"
                  *ngIf="isAddNewMode && tableErrorModel.partsNO.isError"
                >
                  {{tableErrorModel.partsNO.msg}}
                </div>
                </td>
              </ng-container>
              <ng-container
                matColumnDef="partsNM"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['partsNM'].hidden"
                >
                  <span>部品名称</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['partsNM'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.partsNM}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="partsNM"
                      id="partsNM"
                      name="partsNM"
                      [(ngModel)]="editModel.partsNM"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.partsNM = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.partsNM.isError"
                  >
                    {{tableErrorModel.partsNM.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['partsNM'].hidden"
                >
                </td>
              </ng-container>
              <ng-container
                matColumnDef="receptionCD"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['receptionCD'].hidden"
                >
                  <span>受入拠点コード</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['receptionCD'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.receptionCD}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="receptionCD"
                      id="receptionCD"
                      name="receptionCD"
                      [(ngModel)]="editModel.receptionCD"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.receptionCD = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.receptionCD.isError"
                  >
                    {{tableErrorModel.receptionCD.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['receptionCD'].hidden"
                >
                <div
                  class="cm-form-control"
                  *ngIf="isAddNewMode"
                >
                  <input
                    matInput
                    aria-label="receptionCD"
                    id="receptionCD"
                    name="receptionCD"
                    [(ngModel)]="editModel.receptionCD"
                  />
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="cm-icon cm-icon-clear"
                    (click)="editModel.receptionCD = ''"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <div
                  class="cm-message-error"
                  *ngIf="isAddNewMode && tableErrorModel.receptionCD.isError"
                >
                  {{tableErrorModel.receptionCD.msg}}
                </div>
                </td>
              </ng-container>
              <ng-container
                matColumnDef="receptionName"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['receptionName'].hidden"
                >
                  <span>受入拠点名称</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['receptionName'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.receptionName}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="receptionName"
                      id="receptionName"
                      name="receptionName"
                      [(ngModel)]="editModel.receptionName"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.receptionName = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.receptionName.isError"
                  >
                    {{tableErrorModel.receptionName.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['receptionName'].hidden"
                >
                </td>
              </ng-container>
              <ng-container
                matColumnDef="conversionStartDay"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['conversionStartDay'].hidden"
                >
                  <span>適用開始日</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['conversionStartDay'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.conversionStartDay}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="conversionStartDay"
                      id="conversionStartDay"
                      name="conversionStartDay"
                      [(ngModel)]="editModel.conversionStartDay"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.conversionStartDay = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.conversionStartDay.isError"
                  >
                    {{tableErrorModel.conversionStartDay.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['conversionStartDay'].hidden"
                >
                </td>
              </ng-container>
              <ng-container
                matColumnDef="shipingCD"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['shipingCD'].hidden"
                >
                  <span>出荷拠点コード</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['shipingCD'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.shipingCD}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="shipingCD"
                      id="shipingCD"
                      name="shipingCD"
                      [(ngModel)]="editModel.shipingCD"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.shipingCD = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.shipingCD.isError"
                  >
                    {{tableErrorModel.shipingCD.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['shipingCD'].hidden"
                >
                </td>
              </ng-container>
              <ng-container
                matColumnDef="shipingNMSub"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['shipingNMSub'].hidden"
                >
                  <span>出荷拠点名称</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['shipingNMSub'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.shipingNMSub}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="shipingNMSub"
                      id="shipingNMSub"
                      name="shipingNMSub"
                      [(ngModel)]="editModel.shipingNMSub"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.shipingNMSub = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.shipingNMSub.isError"
                  >
                    {{tableErrorModel.shipingNMSub.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['shipingNMSub'].hidden"
                >
                <div
                  class="cm-form-control"
                  *ngIf="isAddNewMode"
                >
                  <input
                    matInput
                    aria-label="shipingNMSub"
                    id="shipingNMSub"
                    name="shipingNMSub"
                    [(ngModel)]="editModel.shipingNMSub"
                  />
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="cm-icon cm-icon-clear"
                    (click)="editModel.shipingNMSub = ''"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <div
                  class="cm-message-error"
                  *ngIf="isAddNewMode && tableErrorModel.shipingNMSub.isError"
                >
                  {{tableErrorModel.shipingNMSub.msg}}
                </div>
                </td>
              </ng-container>
              <ng-container
                matColumnDef="approvalStatus"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['approvalStatus'].hidden"
                >
                  <span>承認区分</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['approvalStatus'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.approvalStatus}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="approvalStatus"
                      id="approvalStatus"
                      name="approvalStatus"
                      [(ngModel)]="editModel.approvalStatus"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.approvalStatus = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.approvalStatus.isError"
                  >
                    {{tableErrorModel.approvalStatus.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['approvalStatus'].hidden"
                >
                </td>
              </ng-container>
              <ng-container
                matColumnDef="status"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  rowspan="2"
                  [hidden]="columnDisplay['status'].hidden"
                >
                  <span>利用区分</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['status'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.status}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="status"
                      id="status"
                      name="status"
                      [(ngModel)]="editModel.status"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.status = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.status.isError"
                  >
                    {{tableErrorModel.status.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['status'].hidden"
                >
                </td>
              </ng-container>
              <ng-container
                matColumnDef="column1"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  colspan="colSpans.column1"
                  [hidden]="columnDisplay['coment'].hidden && columnDisplay['approvalUserComent'].hidden"
                >
                  <span>haha</span>
                </th>
              </ng-container>
              <ng-container
                matColumnDef="coment"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [hidden]="columnDisplay['coment'].hidden"
                >
                  <span>コメント</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['coment'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.coment}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="coment"
                      id="coment"
                      name="coment"
                      [(ngModel)]="editModel.coment"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.coment = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.coment.isError"
                  >
                    {{tableErrorModel.coment.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['coment'].hidden"
                >
                </td>
              </ng-container>
              <ng-container
                matColumnDef="approvalUserComent"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [hidden]="columnDisplay['approvalUserComent'].hidden"
                >
                  <span>承認者コメント</span>
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [hidden]="columnDisplay['approvalUserComent'].hidden"
                >
                  <span
                    *ngIf="!element.edited"
                  >{{element.approvalUserComent}}</span>
                  <div
                    class="cm-form-control"
                    *ngIf="element.edited"
                  >
                    <input
                      matInput
                      aria-label="approvalUserComent"
                      id="approvalUserComent"
                      name="approvalUserComent"
                      [(ngModel)]="editModel.approvalUserComent"
                    />
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      class="cm-icon cm-icon-clear"
                      (click)="editModel.approvalUserComent = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div
                    class="cm-message-error"
                    *ngIf="element.edited && tableErrorModel.approvalUserComent.isError"
                  >
                    {{tableErrorModel.approvalUserComent.msg}}
                  </div>
                </td>
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [hidden]="columnDisplay['approvalUserComent'].hidden"
                >
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedHeaderColSpan"
              >
              </tr>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedSubHeader"
              >
              </tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                class="{{ row.selected }}"
              >
              </tr>
              <tr
                mat-footer-row
                *matFooterRowDef="displayedColumns"
              >
              </tr>
            </table>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
