<!-- eslint-disable prettier/prettier -->
<div class="s3301">
  <app-action-bar [screenTitle]="screen.title" [message]="message">
    <button
      mat-flat-button
      color="primary"
      class="cm-btn cm-btn-default"
      [disabled]="isEdit"
      [attr.permission]="[permissionActionConst.INQUIRY]"
      (click)="handleSearch()"
    >
      検索
    </button>
    <button
      mat-flat-button
      color="primary"
      class="cm-btn cm-btn-default"
      [disabled]="isEdit || !s3301Model.userID"
      [attr.permission]="[permissionActionConst.EDIT]"
      (click)="handleEditRow()"
    >
      編集
    </button>
    <button
      mat-flat-button
      color="primary"
      class="cm-btn cm-btn-default"
      [disabled]="!isEdit"
      [attr.permission]="[permissionActionConst.EDIT]"
      (click)="handleSaveRow()"
    >
      保存
    </button>
    <button
      mat-flat-button
      color="primary"
      class="cm-btn cm-btn-default"
      [disabled]="!isEdit"
      [attr.permission]="[permissionActionConst.EDIT]"
      (click)="handleCancelRow()"
    >
      キャンセル
    </button>
    <button
      mat-flat-button
      color="primary"
      class="cm-btn cm-btn-default"
      [disabled]="isEdit || !isSelectedRow"
      [attr.permission]="[permissionActionConst.DELETE]"
      (click)="handleDeleteRow()"
    >
      削除
    </button>
    <button
      mat-flat-button
      color="primary"
      *ngIf="!isEdit && !isAddNewMode"
      class="cm-btn cm-btn-default cm-float-right"
      [disabled]="isEdit || !s3301Model.userID"
      [attr.permission]="[permissionActionConst.INQUIRY]"
      (click)="handleValidation()"
    >
      検証開始
    </button>
    <button
      mat-flat-button
      color="primary"
      class="cm-btn cm-btn-default cm-float-right"
      *ngIf="!isEdit && !isAddNewMode"
      [disabled]="!isActiveCSV || isEdit"
      [attr.permission]="[permissionActionConst.INQUIRY]"
      (click)="exeExportCsv()"
    >
      CSV出力
    </button>
  </app-action-bar>
  <div class="cm-responsive cm-expansion-panel">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenSearch = true"
        (closed)="panelOpenSearch = false"
        [expanded]="panelOpenSearch"
        [disabled]="isEdit"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> 【検索条件】 </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="cm-responsive-item cm-expansion-panel-content search-box">
          <div class="cm-display-box">
            <div class="cm-form-control cm-mr-10">
              <mat-label class="cm-label input-label">
                {{ nameJPItemSearch.availability }}
              </mat-label>
              <mat-form-field
                appearance="outline"
                class="cm-form-field cm-form-field-select"
                [ngClass]="{
                  'cm-form-field-disabled': isAddNewMode || isEdit
                }"
              >
                <mat-select [(ngModel)]="searchModel.availability">
                  <mat-option [value]=""></mat-option>
                  <mat-option
                    *ngFor="let item of availability"
                    [value]="item.value"
                    >{{ item.label }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="cm-form-control cm-mr-10">
              <mat-label class="cm-label input-label">
                {{ nameJPItemSearch.UserID }}
              </mat-label>
              <mat-form-field
                appearance="outline"
                class="cm-form-field"
                [ngClass]="{
                  'cm-form-field-disabled': isAddNewMode || isEdit
                }"
              >
                <input
                  matInput
                  aria-label="userID"
                  name="user-id"
                  maxlength="100"
                  [(ngModel)]="searchModel.userID"
                />
                <button
                  *ngIf="searchModel?.userID"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  class="cm-icon cm-icon-clear"
                  (click)="searchModel.userID = ''"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="cm-form-control cm-mr-10">
              <mat-label class="cm-label input-label">
                {{ nameJPItemSearch.organizationNM }}
              </mat-label>
              <mat-form-field
                appearance="outline"
                class="cm-form-field cm-form-field-select"
                [ngClass]="{
                  'cm-form-field-disabled': isAddNewMode || isEdit
                }"
              >
                <mat-select [(ngModel)]="searchModel.organizationID">
                  <mat-option [value]=""></mat-option>
                  <mat-option
                    *ngFor="let item of initModel.organizations"
                    [value]="item.organizationID"
                    >{{ item.organizationName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="cm-form-control cm-mr-10">
              <mat-label class="cm-label input-label">
                {{ nameJPItemSearch.level }}
              </mat-label>
              <mat-form-field
                appearance="outline"
                class="cm-form-field cm-form-field-select"
                [ngClass]="{
                  'cm-form-field-disabled': isAddNewMode || isEdit
                }"
              >
                <mat-select [(ngModel)]="searchModel.level">
                  <mat-option
                    *ngFor="let i of constItem.level"
                    [value]="i.value"
                    >{{ i.label }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- show/hide validate message -->
          <div class="cm-display-box">
            <div class="cm-form-control cm-mr-10">
              <div
                class="cm-form-field-error"
                *ngIf="searchErrorModel.userID.isError"
              >
                {{ searchErrorModel.userID.msg }}
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="cm-expansion-panel">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenDisplayItem = true"
          (closed)="panelOpenDisplayItem = false"
          [expanded]="panelOpenDisplayItem"
          [disabled]="isEdit"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>【表示条件】</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="cm-responsive-content cm-expansion-panel-content">
            <app-display-condition
              [screenId]="screen.id"
              (componentChangeEvent)="displayItemChange($event)"
              [noPaging]="true"
            ></app-display-condition>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="cm-expansion-panel">
      <mat-accordion>
        <mat-expansion-panel
          class="header-search"
          (opened)="panelOpenResult = true"
          [expanded]="panelOpenResult"
          (closed)="panelOpenResult = false"
        >
          <div class="header-pagination"></div>
          <mat-expansion-panel-header>
            <mat-panel-title> 【検索結果一覧】 </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="cm-expansion-panel-content">
            <div class="table-reponsive">
              <table
                tableResize
                mat-table
                [dataSource]="dataSource"
                matSort
                aria-describedby="tableResult"
                id="s3301-tb"
                class="cm-table-result mat-table"
              >
                <ng-container matColumnDef="selection">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="selection"
                    [attr.rowspan]="2"
                  >
                    {{ TRANS.selection.JP }}
                  </th>
                  <td mat-cell *matCellDef="let element" class="selection">
                    <mat-radio-button
                      class="radio-button-normal"
                      color="primary"
                      [disabled]="isEdit || isAddNewMode"
                      (change)="handleCheckedChange($event, element)"
                    >
                    </mat-radio-button>
                  </td>
                  <td mat-footer-cell *matFooterCellDef>
                    <span
                      *ngIf="!isAddNewMode && !isEdit"
                      (click)="handleAddRow()"
                      class="cm-cursor-pointer"
                    >
                      {{ button.add_row }}
                    </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="availability">
                  <th
                    [hidden]="columnDisplay['availability'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                    class="cm-w-100-px"
                    [attr.rowspan]="2"
                  >
                    {{ TRANS.availability.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['availability'].hidden"
                  >
                    <div *ngIf="!element.edited">
                      <div [ngSwitch]="element.availability">
                        <span *ngSwitchCase="0">{{
                          availability[0].label
                        }}</span>
                        <span *ngSwitchCase="1">{{
                          availability[1].label
                        }}</span>
                        <span *ngSwitchDefault>{{
                          availability[2].label
                        }}</span>
                      </div>
                    </div>
                    <div class="cm-form-control">
                      <mat-form-field
                        appearance="outline"
                        *ngIf="element.edited"
                      >
                        <mat-select [(ngModel)]="s3301Model.availability">
                          <mat-option
                            *ngFor="let item of availability"
                            [value]="item.value"
                            >{{ item.label }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['availability'].hidden"
                    [ngClass]="{ 'cm-display-top': isAddNewMode }"
                  >
                    <div class="cm-form-control">
                      <mat-form-field appearance="outline" *ngIf="isAddNewMode">
                        <mat-select [(ngModel)]="s3301Model.availability">
                          <mat-option
                            *ngFor="let item of availability"
                            [value]="item.value"
                            >{{ item.label }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="userID">
                  <th
                    [hidden]="columnDisplay['userID'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                    class="cm-w-100-px"
                    rowspan="2"
                  >
                    {{ TRANS.userID.JP }}<br />(@mitsubishi-motors.com)
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['userID'].hidden"
                  >
                    <span *ngIf="!element.edited">{{ element.userID }} </span>
                    <div *ngIf="element.edited" class="cm-form-control">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode && tableErrorModel.userID.isError
                        }"
                      >
                        <input
                          matInput
                          aria-label="userID"
                          name="user-id"
                          maxlength="100"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="s3301Model.userID"
                        />
                        <button
                          *ngIf="s3301Model?.userID"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          class="cm-icon cm-icon-clear"
                          (click)="s3301Model.userID = ''"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['userID'].hidden"
                    [ngClass]="{ 'cm-display-top': isAddNewMode }"
                  >
                    <div class="cm-form-control" *ngIf="isAddNewMode">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode && tableErrorModel.userID.isError
                        }"
                      >
                        <input
                          matInput
                          aria-label="userID"
                          id="userID"
                          name="userID"
                          maxlength="100"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="s3301Model.userID"
                        />
                        <button
                          *ngIf="s3301Model.userID"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          class="cm-icon cm-icon-clear"
                          (click)="s3301Model.userID = ''"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="isAddNewMode && tableErrorModel.userID.isError"
                    >
                      {{ tableErrorModel.userID.msg }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th
                    [hidden]="columnDisplay['name'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                    [attr.rowspan]="2"
                  >
                    {{ TRANS.name.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['name'].hidden"
                  >
                    <span *ngIf="!element.edited">{{ element.name }}</span>
                    <div class="cm-form-control" *ngIf="element.edited">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode && tableErrorModel.name.isError
                        }"
                      >
                        <input
                          matInput
                          aria-label="name"
                          id="name"
                          name="user-name"
                          maxlength="20"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="s3301Model.name"
                        />
                        <button
                          *ngIf="s3301Model.name"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          class="cm-icon cm-icon-clear"
                          (click)="s3301Model.name = ''"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="element.edited && tableErrorModel.name.isError"
                    >
                      {{ tableErrorModel.name.msg }}
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['name'].hidden"
                    [ngClass]="{ 'cm-display-top': isAddNewMode }"
                  >
                    <div class="cm-form-control" *ngIf="isAddNewMode">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode && tableErrorModel.name.isError
                        }"
                      >
                        <input
                          matInput
                          aria-label="name"
                          id="name"
                          name="user-name"
                          maxlength="20"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="s3301Model.name"
                        />
                        <button
                          *ngIf="s3301Model.name"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          class="cm-icon cm-icon-clear"
                          (click)="s3301Model.name = ''"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="isAddNewMode && tableErrorModel.name.isError"
                    >
                      {{ tableErrorModel.name.msg }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="organization">
                  <th
                    [hidden]="
                      columnDisplay['organizationID'].hidden &&
                      columnDisplay['organizationNM'].hidden &&
                      columnDisplay['factory'].hidden
                    "
                    mat-header-cell
                    *matHeaderCellDef
                    class="cm-w-100-px border-bottom"
                    [attr.colspan]="colSpans.organization"
                  >
                    {{ TRANS.organization.JP }}
                  </th>
                </ng-container>
                <ng-container matColumnDef="organizationID">
                  <th
                    [hidden]="columnDisplay['organizationID'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    {{ TRANS.organizationID.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['organizationID'].hidden"
                  >
                    <span *ngIf="!element.edited">
                      {{ element.organizationID }}
                    </span>
                    <div class="cm-form-control" *ngIf="element.edited">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            tableErrorModel.organizationID.isError
                        }"
                      >
                        <mat-select
                          [disabled]="userLoginEditLevel === 2"
                          (selectionChange)="onChangeOrganizeID($event)"
                          [(ngModel)]="s3301Model.organizationID"
                        >
                          <mat-option
                            *ngFor="let item of initModel.organizations"
                            [value]="item.organizationID"
                            >{{ item.organizationID }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['organizationID'].hidden"
                  >
                    <div class="cm-form-control" *ngIf="isAddNewMode">
                      <mat-form-field
                        appearance="outline"
                        class=""
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode &&
                            tableErrorModel.organizationID.isError
                        }"
                      >
                        <mat-select
                          [disabled]="userLoginEditLevel === 2"
                          (selectionChange)="onChangeOrganizeID($event)"
                          [(ngModel)]="s3301Model.organizationID"
                        >
                          <mat-option
                            *ngFor="let item of initModel.organizations"
                            [value]="item.organizationID"
                          >
                            {{ item.organizationID }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="
                        isAddNewMode && tableErrorModel.organizationID.isError
                      "
                    >
                      {{ tableErrorModel.organizationID.msg }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="organizationNM">
                  <th
                    [hidden]="columnDisplay['organizationNM'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    {{ TRANS.organizationNM.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['organizationNM'].hidden"
                  >
                    <div *ngIf="!element.edited">
                      {{ element.organizationNM }}
                    </div>
                    <div *ngIf="element.edited">
                      {{ s3301Model.organizationNM }}
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['organizationNM'].hidden"
                  >
                    <div *ngIf="isAddNewMode">
                      {{ s3301Model.organizationNM }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="factory">
                  <th
                    [hidden]="columnDisplay['factory'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    {{ TRANS.factory.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['factory'].hidden"
                  >
                    <div *ngIf="!element.edited">
                      {{ element.factory }}
                    </div>
                    <div *ngIf="element.edited">
                      {{ s3301Model.factory }}
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['factory'].hidden"
                  >
                    <div *ngIf="isAddNewMode">
                      {{ s3301Model.factory }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="post">
                  <th
                    [hidden]="columnDisplay['post'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                    [attr.rowspan]="2"
                  >
                    {{ TRANS.post.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['post'].hidden"
                  >
                    <div *ngIf="!element.edited" [ngSwitch]="element.post">
                      <span *ngSwitchCase="0"></span>
                      <span *ngSwitchCase="1">作業長/副作業長</span>
                      <span *ngSwitchCase="2">係長/主任</span>
                      <span *ngSwitchCase="3">シニアスタッフ</span>
                      <span *ngSwitchCase="4">課長</span>
                      <span *ngSwitchDefault>部長以上</span>
                    </div>
                    <div class="cm-form-control" *ngIf="element.edited">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid': tableErrorModel.post.isError
                        }"
                      >
                        <mat-select [(ngModel)]="s3301Model.post">
                          <mat-option
                            *ngFor="let item of constItem.position"
                            [value]="item.value"
                            >{{ item.label }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="element.edited && tableErrorModel.post.isError"
                    >
                      {{ tableErrorModel.post.msg }}
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['post'].hidden"
                  >
                    <div class="cm-form-control" *ngIf="isAddNewMode">
                      <mat-form-field
                        appearance="outline"
                        class=""
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode && tableErrorModel.post.isError
                        }"
                      >
                        <mat-select [(ngModel)]="s3301Model.post">
                          <mat-option
                            *ngFor="let item of constItem.position"
                            [value]="item.value"
                            >{{ item.label }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="isAddNewMode && tableErrorModel.post.isError"
                    >
                      {{ tableErrorModel.post.msg }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="packageAuthority">
                  <th
                    [hidden]="
                      columnDisplay['caseFormApprovalStatus'].hidden &&
                      columnDisplay['caseFormManager'].hidden
                    "
                    mat-header-cell
                    *matHeaderCellDef
                    class="cm-w-100-px border-bottom"
                    [attr.colspan]="colSpans.packageAuthority"
                  >
                    {{ TRANS.packageAuthority.JP }}
                  </th>
                </ng-container>
                <ng-container matColumnDef="caseFormApprovalStatus">
                  <th
                    [hidden]="columnDisplay['caseFormApprovalStatus'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    {{ TRANS.caseFormApprovalStatus.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['caseFormApprovalStatus'].hidden"
                  >
                    <div
                      *ngIf="!element.edited"
                      [ngSwitch]="element.caseFormApprovalStatus"
                    >
                      <span *ngSwitchCase="0"></span>
                      <span *ngSwitchCase="1">点検</span>
                      <span *ngSwitchDefault>承認</span>
                    </div>
                    <div class="cm-form-control" *ngIf="element.edited">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            tableErrorModel.caseFormApprovalStatus.isError
                        }"
                      >
                        <mat-select
                          [(ngModel)]="s3301Model.caseFormApprovalStatus"
                        >
                          <mat-option
                            *ngFor="
                              let item of constItem.caseFormApprovalStatus
                            "
                            [value]="item.value"
                            >{{ item.label }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="
                        element.edited &&
                        tableErrorModel.caseFormApprovalStatus.isError
                      "
                    >
                      {{ tableErrorModel.caseFormApprovalStatus.msg }}
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['caseFormApprovalStatus'].hidden"
                  >
                    <div class="cm-form-control">
                      <mat-form-field
                        appearance="outline"
                        *ngIf="isAddNewMode"
                        class=""
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode &&
                            tableErrorModel.caseFormApprovalStatus.isError
                        }"
                      >
                        <mat-select
                          [(ngModel)]="s3301Model.caseFormApprovalStatus"
                        >
                          <mat-option
                            *ngFor="
                              let item of constItem.caseFormApprovalStatus
                            "
                            [value]="item.value"
                            >{{ item.label }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="
                        isAddNewMode &&
                        tableErrorModel.caseFormApprovalStatus.isError
                      "
                    >
                      {{ tableErrorModel.caseFormApprovalStatus.msg }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="caseFormManager">
                  <th
                    [hidden]="columnDisplay['caseFormManager'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    {{ TRANS.caseFormManager.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['caseFormManager'].hidden"
                  >
                    <div
                      *ngIf="!element.edited"
                      [ngSwitch]="element.caseFormManager"
                    >
                      <span *ngSwitchCase="0"></span>
                      <span *ngSwitchCase="1">〇</span>
                    </div>
                    <div class="cm-form-control" *ngIf="element.edited">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            tableErrorModel.caseFormManager.isError
                        }"
                      >
                        <mat-select [(ngModel)]="s3301Model.caseFormManager">
                          <mat-option [value]="0"></mat-option>
                          <mat-option [value]="1">〇</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['caseFormManager'].hidden"
                  >
                    <div class="cm-form-control" *ngIf="isAddNewMode">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            tableErrorModel.caseFormManager.isError
                        }"
                      >
                        <mat-select [(ngModel)]="s3301Model.caseFormManager">
                          <mat-option [value]="0"></mat-option>
                          <mat-option [value]="1">〇</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="
                        isAddNewMode && tableErrorModel.caseFormManager.isError
                      "
                    >
                      {{ tableErrorModel.caseFormManager.msg }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="authority">
                  <th
                    [hidden]="columnDisplay['editLevel'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                    class="cm-w-100-px border-bottom"
                  >
                    {{ TRANS.authority.JP }}
                  </th>
                </ng-container>
                <ng-container matColumnDef="editLevel">
                  <th
                    [hidden]="columnDisplay['editLevel'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    {{ TRANS.editLevel.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['editLevel'].hidden"
                  >
                    <div *ngIf="!element.edited" [ngSwitch]="element.editLevel">
                      <span *ngSwitchCase="0">無し</span>
                      <span *ngSwitchCase="1">一般</span>
                      <span *ngSwitchCase="2">業務取纏担当</span>
                      <span *ngSwitchCase="3">調達取引先担当</span>
                      <span *ngSwitchDefault>運用担当者</span>
                    </div>
                    <div class="cm-form-control" *ngIf="element.edited">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            tableErrorModel.editLevel.isError
                        }"
                      >
                        <mat-select [(ngModel)]="s3301Model.editLevel">
                          <mat-option
                            *ngIf="userLoginEditLevel >= 0"
                            [value]="0"
                            >無し</mat-option
                          >
                          <mat-option
                            *ngIf="userLoginEditLevel >= 1"
                            [value]="1"
                            >一般</mat-option
                          >
                          <mat-option
                            *ngIf="userLoginEditLevel >= 2"
                            [value]="2"
                            >業務取纏担当</mat-option
                          >
                          <mat-option
                            *ngIf="userLoginEditLevel >= 3"
                            [value]="3"
                            >調達取引先担当</mat-option
                          >
                          <mat-option
                            *ngIf="userLoginEditLevel >= 4"
                            [value]="4"
                            >運用担当者</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['editLevel'].hidden"
                  >
                    <div class="cm-form-control" *ngIf="isAddNewMode">
                      <mat-form-field
                        appearance="outline"
                        class=""
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode && tableErrorModel.editLevel.isError
                        }"
                      >
                        <mat-select [(ngModel)]="s3301Model.editLevel">
                          <mat-option
                            *ngIf="userLoginEditLevel >= 0"
                            [value]="0"
                            >無し</mat-option
                          >
                          <mat-option
                            *ngIf="userLoginEditLevel >= 1"
                            [value]="1"
                            >一般</mat-option
                          >
                          <mat-option
                            *ngIf="userLoginEditLevel >= 2"
                            [value]="2"
                            >業務取纏担当</mat-option
                          >
                          <mat-option
                            *ngIf="userLoginEditLevel >= 3"
                            [value]="3"
                            >調達取引先担当</mat-option
                          >
                          <mat-option
                            *ngIf="userLoginEditLevel >= 4"
                            [value]="4"
                            >運用担当者</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="isAddNewMode && tableErrorModel.editLevel.isError"
                    >
                      {{ tableErrorModel.editLevel.msg }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="mailSendDivision">
                  <th
                    [hidden]="columnDisplay['mailSendDivision'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                    rowspan="2"
                  >
                    {{ TRANS.mailSendDivision.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['mailSendDivision'].hidden"
                  >
                    <div
                      *ngIf="!element.edited"
                      [ngSwitch]="element.mailSendDivision"
                    >
                      <span *ngSwitchCase="0">無効</span>
                      <span *ngSwitchCase="1">有効</span>
                    </div>
                    <span
                      *ngIf="element.edited && s3301Model.availability === 2"
                      >無効</span
                    >
                    <div
                      class="cm-form-control"
                      *ngIf="element.edited && s3301Model.availability !== 2"
                    >
                      <mat-form-field appearance="outline">
                        <mat-select
                          [disabled]="s3301Model.availability === 2"
                          [(ngModel)]="s3301Model.mailSendDivision"
                        >
                          <mat-option
                            *ngFor="let item of constItem.mail"
                            [value]="item.value"
                            >{{ item.label }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['mailSendDivision'].hidden"
                  >
                    <span *ngIf="isAddNewMode && s3301Model.availability === 2"
                      >無効</span
                    >
                    <div
                      class="cm-form-control"
                      *ngIf="isAddNewMode && s3301Model.availability !== 2"
                    >
                      <mat-form-field appearance="outline">
                        <mat-select
                          [disabled]="s3301Model.availability === 2"
                          [(ngModel)]="s3301Model.mailSendDivision"
                        >
                          <mat-option
                            *ngFor="let item of constItem.mail"
                            [value]="item.value"
                            >{{ item.label }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="comment">
                  <th
                    [hidden]="columnDisplay['comment'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                    rowspan="2"
                  >
                    備考<br />{{ TRANS.comment.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['comment'].hidden"
                  >
                    <span *ngIf="!element.edited">{{ element.comment }}</span>
                    <div class="cm-form-control" *ngIf="element.edited">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode && tableErrorModel.name.isError
                        }"
                      >
                        <input
                          matInput
                          aria-label="comment"
                          id="comment"
                          name="comment"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="s3301Model.comment"
                        />
                        <button
                          *ngIf="s3301Model.comment"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          class="cm-icon cm-icon-clear"
                          (click)="s3301Model.comment = ''"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['comment'].hidden"
                  >
                    <div class="cm-form-control" *ngIf="isAddNewMode">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="{
                          'mat-form-field-invalid':
                            isAddNewMode && tableErrorModel.comment.isError
                        }"
                      >
                        <input
                          matInput
                          aria-label="comment"
                          id="comment"
                          name="comment"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="s3301Model.comment"
                        />
                        <button
                          *ngIf="s3301Model.comment"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          class="cm-icon cm-icon-clear"
                          (click)="s3301Model.comment = ''"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div
                      class="cm-message-error"
                      *ngIf="isAddNewMode && tableErrorModel.comment.isError"
                    >
                      {{ tableErrorModel.comment.msg }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="lastLoginDT">
                  <th
                    [hidden]="columnDisplay['lastLoginDT'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                    [attr.rowspan]="2"
                  >
                    {{ TRANS.lastLoginDT.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['lastLoginDT'].hidden"
                  >
                    {{ element.lastLoginDT | date : formatDt }}
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['lastLoginDT'].hidden"
                  ></td>
                </ng-container>
                <ng-container matColumnDef="finalUpdate">
                  <th
                    [hidden]="
                      columnDisplay['updateDT'].hidden &&
                      columnDisplay['updateUserID'].hidden
                    "
                    mat-header-cell
                    *matHeaderCellDef
                    [attr.colspan]="colSpans.finalUpdate"
                  >
                    最終更新情報
                  </th>
                </ng-container>
                <ng-container matColumnDef="updateDT">
                  <th
                    [hidden]="columnDisplay['updateDT'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    {{ TRANS.updateDT.JP }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['updateDT'].hidden"
                  >
                    {{ element.updateDT | date : formatDt }}
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['updateDT'].hidden"
                  ></td>
                </ng-container>
                <ng-container matColumnDef="updateUserID">
                  <th
                    [hidden]="columnDisplay['updateUserID'].hidden"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    更新ユーザー
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [hidden]="columnDisplay['updateUserID'].hidden"
                  >
                    {{ element.updateUserID }}
                  </td>
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [hidden]="columnDisplay['updateUserID'].hidden"
                  ></td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedHeaderColSpan"
                ></tr>
                <tr mat-header-row *matHeaderRowDef="displayedSubHeader"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  class="{{ row.selected }}"
                ></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
              </table>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
